@import 'styles/mediaSizes';

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px 30px 15px;
  img {
    width: 540px;
  }
}

@media(max-width: $tablet-horizontal){
    .content {
        flex-direction: column;
        max-width: $tablet-vertical;
    }
}


