.categoriesSection {
    margin: 0 auto;
    text-align: center;
    max-width: 1120px;
    h3{
        margin: 36px 0;
    }
  
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}