@import "styles/mediaSizes";

.totalPrice {
  margin: 40px 0;
  text-align: end;

  h2 {
    font-size: 42px;
    margin-bottom: 24px;
  }
}

@media (max-width: $tablet-vertical) {
  .totalPrice {
    text-align: center;
  }
}
