@import "styles/colors";

.section {
  max-width: 500px;
  margin: 15px auto;
  padding: 25px 45px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid $primary-light;
  border-radius: 12px;
}
