@import "styles/colors";

.content {
  text-align: center;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px 50px 15px;
  h2 {
    margin:  20px 0 50px 0;
  }

  .back {
    text-align: start;
    .backBtn {
      background-color: transparent;
      text-align: start;
      border: none;
      outline: none;
      color: $black;
      cursor: pointer;
      &:hover {
        background-color: transparent;
        color: $primary;
      }
    }
  }
}

.empty {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
