.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .price {
        font-size: 24px;
    }
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    max-width: 50%;
}
