@import 'styles/colors';

.heroSectionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    h2{
        color: $primary;
        margin-bottom: 8px
    }
    button {
        margin-top: 24px;
    }
}